form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-wrap: wrap;
  gap: 3rem;

  @media (max-width: 767px) {
    justify-content: space-between;
    gap: 0;
    padding-top: 1rem;
  }


  mat-form-field.select {
    width: 20%;

    @media (max-width: 767px) {
      width: 30%;
    }

    @media (max-width: 576px) {
      width: 80%;
    }
  }

  mat-form-field.search {
    width: 50%;

    @media (max-width: 576px) {
      width: 80%;
    }
  }
}

::ng-deep {
  .mat-mdc-menu-panel.mat-menu {
    max-width: none;
    /* Define el ancho máximo del mat-menu */
  }

  .mat-mdc-menu-content {
    .menu-filter {
      padding: 1rem;

      @media (max-width: 576px) {
        padding: 0.5rem;
      }

      .header-filters {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 1rem;

        h3 {
          margin: 0;
        }
      }

      .filters {
        width: 500px;

        @media (max-width: 576px) {
          width: 100%;
        }

        .filter {
          width: 100%;
          display: flex;
          justify-content: start;
          align-items: start;
          gap: 1rem;

          mat-form-field.select {
            width: 30%;

            @media (max-width: 576px) {
              width: 50%;
            }
          }

          mat-form-field.search {
            width: 60%;

            @media (max-width: 576px) {
              width: 50%;
            }
          }
        }
      }

      .button-filter {
        display: flex;
        justify-content: end;
        align-items: center;
      }
    }
  }
}