html,
body {
  margin: 0 1rem 0 1rem;
  scrollbar-width: thin;
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}